@import url('https://fonts.cdnfonts.com/css/marcellus');
:root {
	--tt-main-bg-color: #fcf3df;   /*  background color. */
    --tt-main-bg-gold: #fcf3df; /*  background gold. */
	--tt-main-color: #C5983C; /*  main color. */
}

.our-doctor-heading{
color: black;
font-size: 30px;
font-weight: bold;
text-align: center;
}

.our-doctor-heading h5{
    color: black;
    font-size: 18px;
    font-weight: lighter;
    text-align: justify;
    padding: 2%;
}



.swiper-slide {
    color: rgb(255, 255, 255);
    font-size: 15px;
}



.tt-portfolio-slider-item {
    display: flex;
    align-items: center;
}

.tt-psi-image {
    width: 25%; /* 1/4th of the slide */
    max-width: 100%;
    height: auto;
    margin-left: 75%; /* The remaining space for content */
}

.slide-content {
    flex: 1;
    padding: 20px;
}

.slide-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.slide-description {
    font-size: 16px;
    color: #555;
}
