@import url('https://fonts.cdnfonts.com/css/marcellus');
:root {
	--tt-main-bg-color: #fcf3df;   /*  background color. */
    --tt-main-bg-gold: #fcf3df; /*  background gold. */
	--tt-main-color: #C5983C; /*  main color. */
}



.hightlight-items {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: space-around; /* Add space between items */
    padding-top: 6%;
    padding-bottom: 6%;
}

.item {
    flex: 1 0 30%; /* Adjust the width of each item based on your preference */
    justify-content: center;
    align-content: center;
    color: #000;
    padding: 0 2%;
    margin-bottom: 2%; /* Add space below each item */
}



.item-img {
    width: 60px;
    height: 60px;
    border-radius: 100px;
}

/* Media Query for smaller screens */
@media only screen and (max-width: 768px) {
    .item {
        flex: 1 0 100%; /* Make each item take up 100% width on smaller screens */
    }
}


